server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://employee-db:5432/employeedb
    username: sa
    password: employee
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true

role:
  service:
    url: http://role-service:8081
