version: "3.9"

services:

  role-db:
    image: postgres:16
    container_name: role-db
    environment:
      POSTGRES_DB: roledb
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: role
    ports:
      - "5433:5432"
    volumes:
      - role_data:/var/lib/postgresql/data

  employee-db:
    image: postgres:16
    container_name: employee-db
    environment:
      POSTGRES_DB: employeedb
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: employee
    ports:
      - "5434:5432"
    volumes:
      - employee_data:/var/lib/postgresql/data

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health", "||", "exit", "1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  config-service:
    build: ./config-service
    container_name: config-service
    depends_on:
      discovery-service:
        condition: service_healthy
    ports:
      - "8888:8888"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka/
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8888/actuator/health", "||", "exit", "1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  role-service:
    build: ./role-service
    container_name: role-service
    depends_on:
      role-db:
        condition: service_started
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
    ports:
      - "8081:8081"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8081/api/employee-roles", "||", "exit", "1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  employee-service:
    build: ./employee-service
    depends_on:
      employee-db:
        condition: service_started
      role-service:
        condition: service_healthy
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
    ports:
      - "8082-8083:8082"
    deploy:
      replicas: 2

  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - role-service
      - employee-service
      discovery-service:
        condition: service_healthy
      config-service:
        condition: service_healthy
    environment:
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - gateway


volumes:
  role_data:
  employee_data:
