version: "3.9"

services:

  role-db:
    image: postgres:16
    container_name: role-db
    environment:
      POSTGRES_DB: roledb
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: role
    ports:
      - "5433:5432"
    volumes:
      - role_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sa -d roledb"]
      interval: 10s
      timeout: 5s
      retries: 5

  employee-db:
    image: postgres:16
    container_name: employee-db
    environment:
      POSTGRES_DB: employeedb
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: employee
    ports:
      - "5434:5432"
    volumes:
      - employee_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sa -d employeedb"]
      interval: 10s
      timeout: 5s
      retries: 5

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"

  config-service:
    build: ./config-service
    container_name: config-service
    depends_on:
      - discovery-service
    ports:
      - "8888:8888"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka/

  role-service:
    build: ./role-service
    container_name: role-service
    depends_on:
      role-db:
        condition: service_healthy
      config-service:
        condition: service_started
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
    ports:
      - "8081:8081"

  employee-service-1:
    build: ./employee-service
    depends_on:
      employee-db:
        condition: service_healthy
      role-service:
        condition: service_started
      config-service:
        condition: service_started
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      INSTANCE_ID: instance-1
    ports:
      - "8082:8082"

  employee-service-2:
    build: ./employee-service
    depends_on:
      employee-db:
        condition: service_healthy
      role-service:
        condition: service_started
      config-service:
        condition: service_started
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
      INSTANCE_ID: instance-2
    ports:
      - "8083:8083"
      
  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - role-service
      - discovery-service
      - config-service
    environment:
      SPRING_CONFIG_IMPORT: configserver:http://config-service:8888
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - gateway


volumes:
  role_data:
  employee_data:
