server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://role-db:5432/roledb
    username: sa
    password: role
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true